body > header {
  text-align: center;
  @media only screen and (max-width: 768px) {
    padding: 1em 0 0 0;
  }

  @media only screen and (min-width: 768px) {
    display: block;
    @include transform-origin(100%,100%);
    @include transform( rotate(270deg) );
    padding: 0;
    z-index: 999;
    position: absolute;
    top: 20px;
    left: -50px;    
  }
  @media only screen and (min-width: 992px) {
    top: 20px;
    left: 0;    
  }
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $subtitle-color;
      text-decoration: none;
    }
    a:hover, a:active {
      color: #e4614e;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
